/*通用代码*/
body,html,* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #fff;
	font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,sans-serif;
}

img {
	border: none;
}

li,ul {
	list-style-type: none;
}

.clear {
	clear: both;
	width: 100%;
	float: none;
	height: 0px;
}
/*通用代码结束*/

/*header  nav */
header .nav {
	float: left;
	background-color: #444444;
	overflow: hidden;
	position: relative;
	height: 50px;
	width: 70%;
}

header 	.nav.hover {
	overflow: visible;
}

header .nav ul {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	position: absolute;
	z-index: 1000;
	background-color: #444;
	border-radius: 4px;
    box-shadow: 0 0 2px #444444;
}

header .nav li {
	height: 50px;
	list-style: none;
	display: inline-block;
	float: left;
	*display: inline; /* ie7 */
	zoom:1;
}

header .nav a {
	text-decoration: none;
	line-height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	font-family: "Microsoft YaHei", "微软雅黑", "SimHei", "黑体";
	color: #fff;
	white-space: nowrap;
}
header .nav a.high {
	color: #fff;
	border-radius: 5px;
	display: inline-block;
	height: 22px;
	line-height: 22px;
	margin: 15px 15px 0 15px;
	padding: 0 5px;
	font-size: 14px;
}

header  a:active {
	test: expression(target =     "_top");
}
 
header  #login {
	padding-top: 12px;
	height: 28px;
	font-size: 14px;
	width: 80px;
	float: right;
	line-height: 26px;
	text-align: left;
}

header   #login a {
	margin-top: 12px;
	display: inline;
	color: #fff;
	text-decoration: none;
}

header {
	color: #fff;
	height: 50px;
	font-size: 14px;
	width: 100%;
	background-color: #444444;
	margin-bottom: 20px;
	box-shadow: 0 0 10px #666;
}

header  #topbody {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header  .logo {
	height: 50px;
	float: left;
}

header  .logo  img {
	height: 50px;
	border: none;
}

header .logo a {
	text-decoration: none;
	border: none;
}

@media screen and (max-width: 1000px) {
	header {
		min-width: 100%;
	}
	header  #topbody {
		width: 100% !important;
		max-width: 1000px;
	}
	header .nav {
		width: 60% ;
	}
}

@media screen and (max-width: 800px) {
	header .nav {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	header .logo img {
		height: 40px;
		border: none;
		width: 100px;
		margin: 5px;
	}
 
}

@media screen and (max-width: 240px) {
 header  #login {
	display:none;
}
}

/* footer */
.footer {
	clear: both;
	width: 100%;
	float: none;
	font-size: 12px;
	color: #fff;
	line-height: 30px;
	text-align: center;
    margin-top: 20px;
    padding: 10px 0;
	background-color: #666;
	margin-left: auto;
	margin-right: auto;
	font-weight: normal;
}

.footer  p {
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-weight: normal;
}

.footer span{white-space: nowrap;}
.footer a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	white-space: nowrap
}
.footer.mini,.footer.mini a,.footer.mini p {
    color: #333 !important;
    background: transparent !important;
}

/* 导航 */
.mainnav {
	background-color: #fff;
	color: #333;
	border-bottom: 1px solid #ccc;
	font-weight: 500
}

.childrennav,.childrennav a {
	color: #333
}

.childrenbox {
	width: 100%;
	padding-bottom: 10px;
	background-color: #fff;
	border-bottom: 1px solid #eee
}

.nav div.clear {
	clear: both;
	width: 100%;
	float: none;
	height:0px;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	float: left;
	color: #aaa;
}

.nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	display: inline-block;
	white-space: nowrap;
	float: left
}

.nav a {
	text-decoration: none
}

.mainnav li {
	padding: 0 5px
}

.mainnav a {
	color: #222;
	font-family: "Microsoft YaHei", "微软雅黑", MicrosoftJhengHei, "华文细黑",
		STHeiti, MingLiu
}

ul.brothernav {
	height: 50px;
	overflow: hidden
}

.brothernav li:first-child {
	background-color: #eee;
	border-top: 2px solid #ccc;
	height: 48px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: static;
	width: 150px
}

.brothernav li:first-child a {
	color: #222;
	width: 150px;
	height: 48px;
	margin-top: 0;
	position: absolute;
	border-bottom: 1px solid #fff;
	border-right: none;
	line-height: 46px;
	padding: 0;
}

.brothernav li {
	height: 50px;
	font-size: 18px;
	padding: 0;
}

.brothernav li a {
	background-color: #fff;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	text-align: center;

	overflow: hidden;
	border-right: 1px solid #ccc
}

.childrenbox,.mainnav {
	width: 96%;
	padding-left: 2%;
	padding-right: 1.9%
}

.childrenbox {
	font-size: 14px
}

.positionnav {
    white-space: nowrap;
    word-break: normal;
    height: 50px;
    overflow: hidden;
}

.positionnav li {
	height: 50px;
	line-height: 52px;
	font-size: 20px
}

.positionnav span {
	font-size: 18px
}

.childrennav {
	border-left: 2px solid #ddd
}

.childrennav li {
	height: 20px;
	line-height: 20px;
	padding: 5px
}

ul.childrennav {
	margin-top: 10px
}

@media screen and (max-width: 800px) {
	.mainnav li {
		padding: 0 4px
	}
	.brothernav li:first-child ,.brothernav li:first-child a {
		color: #222;
		width:100px;
		min-width: 100px;
	}

	.brothernav li {
		font-size: 16px;
		padding: 0;
	}

	.brothernav li a {
		padding: 0 10px;
	}

	.positionnav li {
		font-size: 16px
	}

	.childrennav li {
		padding: 5px
	}
	.childrenbox {
	font-size: 14px
	}
}
a:active {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
